<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pinterest Clone</title>
</head>
<body>
  <h1>Pins</h1>

  {% for pin in pins %}
    <article>
      <h1>{{ pin.title }}</h1>
      <p>{{ pin.description }}</p>
    </article>
  {% endfor %}
  

</body>
</html>